<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>{{title}}</title>
  {{!-- TODO: add meta tags --}}
  <link href="{{staticFilesUrl}}/assets/basic.css" rel="stylesheet">
</head>
<body>
  <app-root>
    <div class="overlay">Loading</div>
    <h1>{{title}}</h1>
    <img src="{{image}}">
    <div>
      {{{text}}}
    </div>
  </app-root>
</body>
